.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin: 0 auto 10px;
  width: 100%;
  max-width: 1400px;

  @media screen and (max-width: 1200px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (max-width: 360px) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &_github {
    &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: #000000;
    }

    img {
      margin-right: 10px;
      width: 44px;

      @media screen and (max-width: 768px) {
        width: 40px;
      }

      @media screen and (max-width: 360px) {
        width: 30px;
      }
    }
  }
}

