.toggle-switch {
  position: relative;
  width: 100px;

  &-checkbox {
    display: none;
  }

  &-label {
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    border: none;
    border-radius: 20px;
  }

  &-inner {
    display: block;
    margin-left: -100%;
    width: 200%;
    transition: margin 0.3s ease-in 0s;

    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      font-size: 14px;
      line-height: 34px;
      font-weight: bold;
      color: #ffffff;
      box-sizing: border-box;
    }

    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 15px;
      background-color: rgb(255, 153, 0);
      color: #fff;
    }
  }

  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;

    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }

  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 20px;
    background-color: #0fc0fc;
    color: #fff;
    text-align: right;
  }

  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 2px;
    }
  }
}
