.toggle-switch {
  position: relative;
  width: 100px;
  font-family: Roboto;

  @media screen and (max-width: 1200px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 640px) {
    margin-right: 25px;
    width: 80px;
  }

  &-checkbox {
    display: none;
  }

  &-label {
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    border: none;
    border-radius: 20px;
  }

  &-inner {
    display: block;
    margin-left: -100%;
    width: 200%;
    transition: margin 0.3s ease-in 0s;

    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      font-size: 14px;
      line-height: 34px;
      font-weight: bold;
      color: #ffffff;
      box-sizing: border-box;

      @media screen and (max-width: 640px) {
        height: 26px;
        line-height: 28px;
      }

      @media screen and (max-width: 480px) {
        height: 22px;
        line-height: 24px;
      }
    }

    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 15px;
      background-color: rgb(255, 153, 0);
      color: #fff;

      @media screen and (max-width: 640px) {
        padding-left: 10px;
      }
    }
  }

  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;

    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }

  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 20px;
    background-color: #0fc0fc;
    color: #fff;
    text-align: right;

    @media screen and (max-width: 640px) {
      padding-right: 10px;
    }
  }

  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;

    @media screen and (max-width: 640px) {
      width: 20px;
      right: 50px;
    }

    @media screen and (max-width: 480px) {
      width: 15px;
    }
  }

  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 2px;
    }
  }
}

// @media screen and (max-width: 1200px) {
//   height: 120px;
// }

// @media screen and (max-width: 1024px) {
//   height: 110px;
// }

// @media screen and (max-width: 960px) {
//   height: 100px;
// }

// @media screen and (max-width: 768px) {
//   height: 80px;
// }

// @media screen and (max-width: 640px) {
//   height: 70px;
// }

// @media screen and (max-width: 480px) {
//   height: 50px;
// }

// @media screen and (max-width: 360px) {
//   height: 50px;
// }

// @media screen and (max-width: 320px) {
//   height: 50px;
// }
