.statistic-page {
  margin: 0 auto;
  width: 1440px;
}

table {
  width: 100%;
  text-align: center;

  @media screen and (max-width: 360px) {
    font-size: 12px;
  }

  @media screen and (max-width: 320px) {
    font-size: 11px;
  }
}

table > thead  {
  cursor: pointer;
  background-color: #21bffa;
}

.statistic-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
