.flip-container {
  transition: 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-bottom: 40px;
}

.flip-container.flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 270px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);

}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 320px;
  height: 270px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);

  &-images {
    &__item {
      width: 100%;
      border-radius: 5px;
    }
  }

  &-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: Roboto;
    font-size: 22px;
    line-height: 25px;
    &__button {
      cursor: pointer;
      position: absolute;
      right: 5%;
      width: 25px;
      height: 20px;
      border: none;
      background-color: white;
    }
  }


}
#rotate {
  // position: absolute;
  right: 5%;
  width: 25px;
  height: 20px;
}

