.flip-container {
  transition: 0.6s;
  transform-style: preserve-3d;
  margin-bottom: 10px;
}

.flip-container.flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 240px;

  @media screen and (max-width: 1200px) {
    width: 260px;
  }

  @media screen and (max-width: 1024px) {
    width: 230px;
    height: 210px;
  }

  @media screen and (max-width: 960px) {
    width: 200px;
    height: 170px;
  }

  @media screen and (max-width: 768px) {
    width: 160px;
    height: 150px;
  }

  @media screen and (max-width: 640px) {
    width: 260px;
    height: 180px;
  }

  @media screen and (max-width: 480px) {
    width: 190px;
    height: 160px;
  }

  @media screen and (max-width: 360px) {
    width: 280px;
    height: 190px;
  }
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);

}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  @media screen and (max-width: 1200px) {
    height: 210px;
  }

  @media screen and (max-width: 1024px) {
    height: 190px;
  }

  @media screen and (max-width: 960px) {
    height: 160px;
  }

  @media screen and (max-width: 768px) {
    height: 140px;
  }

  @media screen and (max-width: 640px) {
    height: 180px;
  }

  @media screen and (max-width: 480px) {
    height: 160px;
  }

  @media screen and (max-width: 360px) {
    height: 200px;
  }

  &-images {
    overflow: hidden;

    &__item {
      transition: 0.6s;
      transform-style: preserve-3d;
      width: 100%;
      border-radius: 5px;
    }
  }

  &-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: Roboto;
    font-size: 22px;
    line-height: 25px;

    @media screen and (max-width: 1200px) {
      font-size: 20px;
      height: 40px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      height: 30px;
    }

    &__button {
      cursor: pointer;
      position: absolute;
      right: 5%;
      width: 25px;
      height: 20px;
      border: none;
      background-color: white;
    }
  }
}

.card-toggle {
  color: white;
  background-color: #21bffa;
}

.card-text-toggle {
  display: none;
}

.card-images-toggle {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 640px) {
    padding-top: 4px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 12px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 6px;
  }
}

.card-images__item-toggle {
  transition: 0.6s;
	transform-style: preserve-3d;
  width: 109%;

  @media screen and (max-width: 1200px) {
    width: 107%;
  }

  @media screen and (max-width: 1024px) {
    width: 108%;
  }

  @media screen and (max-width: 640px) {
    width: 108%;
    height: 98%;
  }

  @media screen and (max-width: 360px) {
    width: 100%;
    height: 96%;
  }
}

#rotate {
  right: 5%;
  width: 25px;
  height: 20px;
}

.card-success-close {
  opacity: 0.4;
}
