.main-wrapper {
  display: flex;
  flex-direction: column;

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-right: 30px;
    margin-left: 30px;

    @media screen and (max-width: 1024px) {
      column-gap: 10px;
      row-gap: 10px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stars-result {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  height: 4.5vh;
  margin: 0 15px 10px;

  @media screen and (max-width: 960px) {
    height: 4vh;
  }

  @media screen and (max-width: 640px) {
    height: 2.5vh;
  }

  @media screen and (max-width: 480px) {
    height: 2vh;
  }

  img {
    display: inline-block;
    height: 100%;
  }
}

.result-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  color:rgb(114, 221, 7);
  background-color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: 1024px) {

    img {
      width: 400px;
    }
    font-size: 2.5rem;
  }

  @media screen and (max-width: 768px) {

    img {
      width: 300px;
    }
    font-size: 2rem;
  }

  @media screen and (max-width: 480px) {

    img {
      width: 260px;
    }
    font-size: 2rem;
  }

  @media screen and (max-width: 360px) {

    img {
      width: 220px;
    }
    font-size: 1.5rem;
  }
}

.btn {
  cursor: pointer;
  padding: 10px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #21bffa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (max-width: 960px) {
    font-size: 14px;
  }

  &:hover {
    background-color: #0094ca;
  }
}

.btn_margin {
  margin-right: 20px;
}

.categories_header {
  margin-bottom: 10px;
  padding-bottom: 6px;
  max-width: 10%;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid red;
}
