.main-wrapper {
  display: flex;
  flex-direction: column;

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
      padding: 10px;
      width: 100px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      background-color: #21bffa;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);

      &:hover {
        background-color: #0094ca;
      }
    }
  }
}

.stars-result {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  height: 6vh;
  margin-bottom: 10px;
  img {
    display: inline-block;
    height: 100%;
  }
}

.result-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  color:rgb(114, 221, 7);
  background-color: rgba(255, 255, 255, 0.9);

}
