.nav-header {
  position: relative;
}

.burger-header {
  cursor: pointer;
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 10;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;

  @media screen and (max-width: 1200px) {
    left: 35px;
  }

  @media screen and (max-width: 960px) {
    top: 30px;
  }

  @media screen and (max-width: 768px) {
    top: 25px;
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width: 640px) {
    top: 22px;
  }

  @media screen and (max-width: 480px) {
    top: 16px;
    left: 30px;
  }

  @media screen and (max-width: 360px) {
    top: 12px;
    left: 30px;
  }

  &:hover {
    filter:opacity(0.4);
  }
}

.burger-header__lines,
.burger-header__lines::after,
.burger-header__lines::before {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #666565;
  border-radius: 20%;

  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.burger-header__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-header__lines::before {
  content: '';
  top: -15px;
  left: 0;

  @media screen and (max-width: 1024px) {
    top: -10px;
  }

  @media screen and (max-width: 1024px) {
    top: -8px;
  }
}

.burger-header__lines::after {
  content: '';
  top: 15px;
  left: 0;

  @media screen and (max-width: 1024px) {
    top: 10px;
  }

  @media screen and (max-width: 1024px) {
    top: 8px;
  }
}

.burger-header-active.burger-header__lines  {
  background-color: transparent;
}

.burger-header-active.burger-header__lines::before {
  top: 0;
  left: 60%;
  transform: rotate(45deg);
  background-color: white;
  width: 35px;

  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.burger-header-active.burger-header__lines::after {
  top: 0;
  left: 60%;
  transform: rotate(-45deg);
  background-color: white;
  width: 35px;

  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 375px;
  height: 100vh;
  background-color: #0099AE;
  z-index: 5;
  transform: translateX(-375px);
  transition: transform .3s ease-in;

  @media screen and (max-width: 1200px) {
    width: 350px;
    transform: translateX(-350px);
  }

  @media screen and (max-width: 960px) {
    width: 320px;
    transform: translateX(-320px);
  }

  @media screen and (max-width: 768px) {
    width: 290px;
    transform: translateX(-290px);
  }

  @media screen and (max-width: 640px) {
    width: 250px;
    transform: translateX(-250px);
  }

  @media screen and (max-width: 480px) {
    width: 230px;
    transform: translateX(-230px);
  }

  @media screen and (max-width: 360px) {
    width: 180px;
    transform: translateX(-180px);
  }
}

.nav-header-show {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  margin-top: 60px;

  @media screen and (max-width: 1200px) {
    height: 460px;
  }

  @media screen and (max-width: 768px) {
    height: 360px;
  }

  @media screen and (max-width: 640px) {
    height: 320px;
  }

  @media screen and (max-width: 480px) {
    height: 300px;
  }

  @media screen and (max-width: 360px) {
    height: 260px;
  }

  &__item {
    font-family: Roboto;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-size: 20px;
      line-height: 23px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 20px;
    }

    @media screen and (max-width: 640px) {
      font-size: 16px;
      line-height: 18px;
    }

    @media screen and (max-width: 360px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: white;

      &:hover {
        filter: opacity(0.5);
      }

      &:active {
        filter: opacity(0.5);
        color: #a4fa06;
      }

    &_active {
      font-weight: bold;
      text-decoration: underline;

        &:hover {
          cursor: default;
          filter: none;
        }
    }
  }
}

.menu-close {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
}

// @media screen and (max-width: 1200px) {
//   height: 120px;
// }

// @media screen and (max-width: 1024px) {
//   height: 110px;
// }

// @media screen and (max-width: 960px) {
//   height: 100px;
// }

// @media screen and (max-width: 768px) {
//   height: 80px;
// }

// @media screen and (max-width: 640px) {
//   height: 70px;
// }

// @media screen and (max-width: 480px) {
//   height: 60px;
// }

// @media screen and (max-width: 360px) {
//   height: 50px;
// }

// @media screen and (max-width: 320px) {
//   height: 50px;
// }
